{# TEMPLATE: DEFAULT PAGE #}
{# Page Content #}

{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper page mx-3">


		<article class="post-type-{{post.post_type}} text-center" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1 text-5xl text-center mb-20">{{post.title}}</h1>
				<div class="article-body wp-block-heading max-w-3xl">
					{{post.content}}
					<p class="p text-right">
				</div>
			</section>
		</article>
	</div>

	<div
		class="debug p-8 bg-debug hidden">
		{# useful for debugging, delete later #}
		<h1>Debug info</h1>

		<p class="pb-4">post name:
			{{post.name}}</p>

		<p>file name: page.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>

	<!-- /content-wrapper -->
{% endblock %}
