{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }} wp-block-image" id="post-{{ post.ID }}">
			<img src="{{ post.thumbnail.src }}">
			<section class="article-content">
				<h1 class="article-h1 text-5xl text-center mb-20">{{ post.title }}</h1>

				<div class="article-body">
					{{post.content}}

					{# this is building specific information, display it how you want #}
					<h3><span class="font-bold">Risk Status:</span> {{ post.risk_status }}</h3>
					<h3><span class="font-bold">Year:</span> {{ post.year }}</h3>
					<h3><span class="font-bold">Location:</span> {{ post.location }}</h3>
					<h3><span class="font-bold">Suburb:</span> {{ post.suburb }}</h3>

					<h3><span class="font-bold">Architect: </h3>
					{# return a list in case there are multiple architects #}
					<ul>
						{% for arch in post.architect %}
							{# this loops through individual entries returned #}
							<li>
								{{arch.name}}
							</li>
						{% endfor %}
					</ul>

					{# show a map of the location #}
					{{ post.geolocation }}

				</div>

			</section>
		</article>
	</div>

	<div
		class="debug p-8 bg-debug hidden">
		{# useful for debugging, delete later #}
		<h1>Debug info</h1>

		<p class="pb-4">post name:
			{{post.name}}</p>

		<p>file name: single-buildings.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>


	<!-- /content-wrapper -->
{% endblock %}
