{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        <ul class="pagination p-8">

            {# First #}
            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <li class="first btn paginationBTN">
                    <a href="{{ posts.pagination.pages|first.link }}" class="hover:underline">First</a>  |  
                </li>
            {% else %}
                <li class="first btn disabled paginationBTN">
                    <button disabled class="hover:underline">First</button>  |  
                </li>
            {% endif %}

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="prev btn paginationBTN">
                    <a href="{{ posts.pagination.prev.link }}" class="hover:underline">Previous</a>  |  
                </li>
            {% else %}
                <li class="prev btn disabled paginationBTN">
                    <button disabled class="hover:underline">Previous</button>  |  
                </li>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li class="paginationBTN">
                        <a href="{{ page.link }}" class="{{ page.class }} hover:underline">{{ page.title }}</a>  |  
                    </li>
                {% else %}
                    <li class="current paginationBTN">
                        <span class="{{ page.class }} hover:underline">{{ page.title }}</span>  |  
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="next btn paginationBTN">
                    <a href="{{ posts.pagination.next.link }}" class="hover:underline">Next</a>  |  
                </li>
            {% else %}
                <li class="next btn disabled paginationBTN">
                    <button disabled class="hover:underline">Next</button>  |  
                </li>
            {% endif %}

            {# Last #}
            {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li class="last btn paginationBTN">
                    <a href="{{ posts.pagination.pages|last.link }}" class="hover:underline">Last</a>
                </li>
            {% else %}
                <li class="last btn disabled paginationBTN">
                    <button disabled class="hover:underline">Last</button>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
